.organHide {
  position: absolute;
  width: 100px;
  height: 100px;
}

.organShow {
    background-color: wheat;
    position: absolute;
    width: 500px;
    height: auto;
    border: solid 4px;
    display: grid;
    grid-template-columns: 100px 400px;
}


.organDetailsImage{
    height:100%;
}
.organDetailsText{
    text-align: center;
    width: 80%;
}



.mainContainer{
    text-align: center;
}


.personOutline{
    height: 100%;
    width: 50vw;
    background-image: url("/images/personOutline.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.personBody{
    height: 100vh;
    width: auto;
}